<section class="pricing-cta">
 
  <h2 class="pricing-cta-title">
    <span class="title-dark">Safqa’s flexible </span><span class="title-accent">PLANS</span><span class="title-dark"> for Buyers and Sellers</span>
  </h2>
 
  <p class="pricing-cta-text">
    Whether you are looking to source smarter or sell faster, Safqa offers tailored plans that fit your budget.
    Enjoy Pro Plan advantages for vendors and complete AI control for buyers
  </p>
 
  <button class="pricing-cta-btn" routerLink="/Pricing-Details">View Pricing Details</button>
 
  <p class="pricing-cta-note">No credit card required to start</p>
 
</section>