<div class="rules">
  <ul class="rules__col">
    @for (rule of leftColumn; track rule.key) {
      <li class="rules__item" [class.rules__item--met]="rules[rule.key]">
        <app-icon name="check" [size]="14"></app-icon>
        {{ rule.label }}
      </li>
    }
  </ul>

  <ul class="rules__col">
    @for (rule of rightColumn; track rule.key) {
      <li class="rules__item" [class.rules__item--met]="rules[rule.key]">
        <app-icon name="check" [size]="14"></app-icon>
        {{ rule.label }}
      </li>
    }
  </ul>
</div>
