<section class="how-it-works">
 
    <div class="inner">
      <h2 class="section-title">
        <span class="title-dark">How it </span><span class="title-accent">WORKS</span><span class="title-dark">?</span>
      </h2>
    </div>
 
    <div class="row-company">
      <div class="curve-bg"></div>
 
      <div class="inner">
        <div class="info-image">
          <img src="assets/Company.png" alt="Joining as a company">
        </div>
 
        <div class="info-content">
          <h3>Joining as a Company</h3>
          <ul>
            <li>Searching for vendors</li>
            <li>Send RFQs</li>
            <li>Receive vendors’ offers on RFQs</li>
          </ul>
          <button class="explore-btn">Explore More</button>
        </div>
      </div>
    </div>
 
    <div class="row-vendor">
      <div class="curve-bg"></div>
 
      <div class="inner">
        <div class="info-content">
          <h3>Joining as a Vendor</h3>
          <ul>
            <li>Show your products</li>
            <li>Apply Offers on RFQs</li>
            <li>Increase yours customer network</li>
          </ul>
          <button class="explore-btn">Explore More</button>
        </div>
 
        <div class="info-image">
          <img src="assets/Vendor.png" alt="Joining as a vendor">
        </div>
      </div>
    </div>
 
  </section>
